## Pandas分组与聚合

### 设置索引

In [4]:
import pandas as pd
import numpy as np

In [5]:
#索引中单项不可变，但是整体可以换掉
a = pd.DataFrame({'a': range(7),'b': range(7, 0, -1),
                  'c': ['one','one','one','two','two','two', 'two'],
                  'd': list("hjklmno")})

# a.index更换索引
a.index=list('abcdefg')

In [6]:
#让某些列变为索引，让c列，d列数据变为索引
print(a)
print('-'*50)

# set_index，将'c'列直接作为索引，a没变，返回修改后的副本df
a.set_index(['c'],inplace=True)
a

   a  b    c  d
a  0  7  one  h
b  1  6  one  j
c  2  5  one  k
d  3  4  two  l
e  4  3  two  m
f  5  2  two  n
g  6  1  two  o
--------------------------------------------------

     a  b  d
c
one  0  7  h
one  1  6  j
one  2  5  k
two  3  4  l
two  4  3  m
two  5  2  n
two  6  1  o

In [7]:
a.columns   # 列索引

Index(['a', 'b', 'd'], dtype='str')

In [8]:
a.index # 行索引

Index(['one', 'one', 'one', 'two', 'two', 'two', 'two'], dtype='str', name='c')

### 分组运算

In [ ]:
import numpy as np
#分组并给名称加前缀
dict_obj = {'key1' : ['a', 'b', 'a', 'b',
                      'a', 'b', 'a', 'a'],
            'key2' : ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
            'data1': np.random.randint(1, 10, 8),
            'data2': np.random.randint(1, 10, 8)}
df_obj = pd.DataFrame(dict_obj)
print(df_obj)
print('-'*50)
# 按key1分组后，计算data1，data2的统计信息并附加到原始表格中，并添加表头前缀
k1_sum = df_obj.groupby('key1').mean().add_prefix('mean_')
print(k1_sum)

In [ ]:
# 方法2，使用transform，分组后计算结果和原本的df保持一致
k1_sum_tf = df_obj.groupby('key1').transform(np.mean).add_prefix('mean_')
k1_sum_tf
# df_obj[k1_sum_tf.columns] = k1_sum_tf
# print(df_obj)

In [ ]:
df_obj.groupby('key1').mean()

In [ ]:
df_obj

In [ ]:
del df_obj['key2']

In [ ]:
df_obj.groupby('key1').transform(np.mean)

In [ ]:
#实现a组和b组，谁比平均分高，谁比平均分低
def diff_mean(s):
    """
        返回数据与均值的差值，s传入的是某一个分组
    """
    return s - s.mean()

print(df_obj.groupby('key1').transform(diff_mean))